<a type="button" class="btn btn-primary btn-sm" @*btn=>przycisk, btn-primary=>niebieski przycisk,btn-sm=>mały przycisk *@
   href="@Url.Action("Index")"> @*gdzie ma nas zabrać po naciśnieciu*@
    <span class="glyphicon glyphicon-list"></span> @*ikona lista na przycisku*@
    <span>Back to List</span> @*tekst obok ikony na przycisku*@
</a>
