<a type="button" class="btn btn-primary btn-sm" @*btn=>przycisk, btn-primary=>niebieski przycisk,btn-sm=>mały przycisk *@
   href="@Url.Action("Create")"> @*gdzie ma nas zabrać po naciśnieciu*@
    <span class="glyphicon glyphicon-plus"></span> @*ikona lista na przycisku*@
    <span>Create New</span> @*tekst obok ikony na przycisku*@
</a>
